[Unit]
Description=Marathon
After=docker.service
After=etcd.service
After=fleet.service
After=consul-server.service
After=zookeeper.service

[Service]
Restart=always
TimeoutStartSec=300
RestartSec=10

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill x-%p
ExecStartPre=-/usr/bin/docker rm x-%p

ExecStartPre=/usr/bin/docker pull mesosphere/marathon:v0.10.0

# Test whether the zookeeper is up.
ExecStartPre=/bin/sh -c "curl -s $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper | jq -r -e .[0].ServiceAddress"

ExecStart=/bin/bash -c "ZOOKEEPERS=$(curl $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper | \
                                 jq -r '.[0] | (\"zk://\" + .ServiceAddress + \":\" + (.ServicePort | tostring))') ;\
    exec /usr/bin/docker run \
        --name x-%p \
        --net host \
        --publish $COREOS_PRIVATE_IPV4:8888:8888 \
        --env SERVICE_NAME=marathon \
        --env SERVICE_TAGS=http \
        mesosphere/marathon:v0.10.0  \
        --master $ZOOKEEPERS/mesos \
        --zk $ZOOKEEPERS/marathon \
        --http_port 8888"

ExecStop=/usr/bin/docker stop x-%p
SyslogIdentifier=%p
