[Unit]
Description=Mesos Master
After=docker.service
After=etcd.service
After=fleet.service
After=consul-server.service
After=zookeeper.service

[Service]
Restart=always
TimeoutStartSec=300
RestartSec=10

EnvironmentFile=/etc/environment
Environment="REPOSITORY=mesoscloud/mesos-master:0.24.1-ubuntu-14.04"
ExecStartPre=-/usr/bin/docker kill x-%p
ExecStartPre=-/usr/bin/docker rm x-%p

ExecStartPre=/usr/bin/docker pull ${REPOSITORY}

# Test whether the zookeeper is up.
ExecStartPre=/bin/sh -c "curl -s $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper?tag=zk | jq -r -e .[0].ServiceAddress"

ExecStart=/bin/sh -c "set -x ; exec /usr/bin/docker run \
        --name x-mesos-master \
	--net host \
        --publish $COREOS_PRIVATE_IPV4:5050:5050 \
        --env SERVICE_NAME=mesos \
        --env SERVICE_TAGS=http \
	--env SERVICE_5050_CHECK_HTTP=/ \
	--env SERVICE_5050_CHECK_INTERVAL=15s \
	--env SERVICE_5050_CHECK_TIMEOUT=2s  \
        --env MESOS_ZK=zk://$(curl -s $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper?tag=zk | \
                                 jq -r '.[0] | (.ServiceAddress + \":\" + (.ServicePort | tostring))')/mesos \
        --env MESOS_ADVERTISE_IP=$COREOS_PRIVATE_IPV4 \
        --env MESOS_PORT=5050 \
        --env MESOS_QUORUM=1 \
        --env MESOS_CLUSTER=single-node-mesos \
        ${REPOSITORY}"

ExecStop=/usr/bin/docker stop x-%p
SyslogIdentifier=%p
