[Unit]
Description=Mesos Slave
After=docker.service
After=etcd.service
After=fleet.service
After=consul-server.service
After=zookeeper.service
After=mesos-master.service

[Service]
Restart=always
TimeoutStartSec=300
RestartSec=10

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill x-%p
ExecStartPre=-/usr/bin/docker rm x-%p

ExecStartPre=/usr/bin/docker pull mesosphere/mesos-slave:0.23.0-1.0.ubuntu1404

# Test whether the zookeeper is up.
ExecStartPre=/bin/sh -c "curl -s $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper | jq -r -e .[0].ServiceAddress"

ExecStart=/bin/sh -c "exec /usr/bin/docker run \
        --name x-%p \
        --privileged \
        --net host \
        --publish :5051:5051 \
        --volume /var/lib/docker/btrfs/subvolumes:/var/lib/docker/btrfs/subvolumes \
        --volume /var/run/docker.sock:/var/run/docker.sock \
        --volume /sys:/sys \
        --volume /cgroup:/cgroup \
        --volume /usr/bin/docker:/usr/bin/docker \
        --volume /lib/libdevmapper.so.1.02:/lib/x86_64-linux-gnu/libdevmapper.so.1.02 \
        --volume /dev/log:/dev/log \
        --env SERVICE_NAME=mesos-slave \
        --env SERVICE_TAGS=http \
        --env MESOS_MASTER=zk://$(curl $COREOS_PRIVATE_IPV4:8500/v1/catalog/service/zookeeper | \
                                 jq -r '.[0] | (.ServiceAddress + \":\" + (.ServicePort | tostring))')/mesos \
        --env MESOS_EXECUTOR_REGISTRATION_TIMEOUT=5mins \
        --env MESOS_ISOLATOR=cgroups/cpu,cgroups/mem \
        --env MESOS_CONTAINERIZERS=docker,mesos \
        --env MESOS_RESOURCES='ports(*):[1024-5050,5052-8299,8303-8399,8401-8499,8501-65535]' \
        mesosphere/mesos-slave:0.23.0-1.0.ubuntu1404"

ExecStop=/usr/bin/docker stop x-%p
SyslogIdentifier=%p

[X-Fleet]
Global=true
