[Unit]
Description=Zookeeper
After=docker.service
After=etcd.service
After=fleet.service

[Service]
Restart=always
TimeoutStartSec=300

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStartPre=/bin/bash -c \
    "docker history cargonauts/zookeeper:0.0.1 >/dev/null || \
    docker pull cargonauts/zookeeper:0.0.1"

ExecStart=/bin/bash -c "exec /usr/bin/docker run \
	-p 0.0.0.0:2181:2181 \
        cargonauts/zookeeper:0.0.1"

ExecStop=/usr/bin/docker stop %p
SyslogIdentifier=%p
